* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --col-grey: #666;
}

.col-grey {
    color: var(--col-grey);
}

.person {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    border-bottom: 1px solid #efefef;
}

.person__avatar {
    margin-right: 1em;
}

.person__avatar-image {
    border-radius: 50%;
}

.person__meta {
    line-height: 1.25;
}